<div class="side__header">
  <div class="side__title">
    Chatables
  </div>
  <div *ngIf="userLogged" class="side__greet">Welcome, {{user.firstName}} {{user.lastName}}!</div>
</div>
<div class="side__inputs">
  <div *ngIf="!userLogged" class="side__input_new">
    <input class="side__input_aesthetics" placeholder="Your name here..." [(ngModel)]="username" maxlength="30">
    <span (click)="logUser()" class="side__input_icon"><i class="fas fa-plus"></i></span>
  </div>
  <div class="side__input_search">
    <input class="side__input_aesthetics" placeholder="Search people..." [(ngModel)]="searchQuery" (ngModelChange)="handleSearch()">
    <span class="side__input_icon">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>
<app-user-list [users]="users"></app-user-list>
